@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;

}
.header-container{
    max-width: 1200px;
    margin: auto;
}
.inner-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 0;
}
.header_logo{
    margin-right: 43px;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu__item{
    margin-right: 28px;
    font-size: 16px;
    white-space: nowrap;
    position: relative;

}
.menu__item a {
    color: #000;
    border-bottom: 1px solid transparent;
    transition: color .2s ease-out 0s;
    font-weight: 300;
    transition: color .2s ease-out 0s;

}
.menu__item a:hover {
    color: #13c8a4;
}
.menu_list{
    display: flex;
    align-items: center;

}

.arr::after{
    border: none;
    width: 8px;
    height: 4px;
    background: url(../img/chevron.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    right: -12px;
    top: 50%;
    content: '';
}
.logo{
    width: 123px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0 ;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    flex-direction: column;
    display: none;
}
 .dropdown-menu_small {
    padding-top: 4px;
    padding-bottom: 4px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
}
.rotate::after{
    transform: rotate(180deg);
}
.drop-lang{
    width: 60px;
    min-width: 60px;
}
.it-lang{
    padding: 0.25rem 1em;

}
.btn-sign{
    background-color: #13c8a4;
    border-color: #13c8a4;
    padding: 10px 14px 9px;
    margin-right: 28px;
    transition: all .3s ;
    color: #fff;
}
.btn-sign:hover{
    color: #fff;
    background-color: #20d9b4;
    border-color: #20d9b4;
    box-shadow: 0 0 0 transparent;
}
.btn-sign > a{
    color: white;

}
.right-menu{
    margin-left: auto;

}
.btn__free{
    display: none;
}
.section-first{
 
    margin: auto;
    padding: 285px 0px;
	overflow:hidden;
	width:100%;
}
.image-text-block{
       display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.img-block{
    max-width: 720px;
}
.img-block > img{
    width: 100%;
    transform: scale(1.2) translateX(25%);

}
.txt-title{
    font-size: 46px;
}
.txt-block > p{
    font-size: 18px;
    line-height: 1.44444;
    margin-top: 40px;
    margin-bottom: 40px;
}

.link-txt{
    color: #13c8a4;
    font-size: 18px;
    transition: .3s;
}
.link-txt:hover {
    color: #086c73;
}
.header{
	position: fixed;
    width: 100%;
    background: white;
    z-index: 99;
    top: 0;
}
.fixed {
   
	border-bottom: 1px solid #cedce5;
}

.subtitle:before {
    content: "\2014";
    font-size: 30px;
    margin-right: 10px;
    width: 30px;
    flex-shrink: 0;
}
.subtitle {
    display: flex;
    align-items: baseline;
    font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: 780px;
}
.block-after-subtitle, .subtitle+.text {
    padding-left: 40px;

}
.block-after-subtitle{
    font-size: 18px;
    line-height: 1.44444;
}
.page-section__block > .container{
    max-width: 1200px;
    margin: auto;
}
.page-section__block{
    padding: 60px 0;

}
.divider{
    border-top: 1px solid #cedce5;
    max-width: 1200px;
    margin: auto;
    height: 0px;
    padding: 10px 0;
}
.trading-stats {
   display: flex;
    background-color: #ebf5f5;
    border-radius: 12px;
    padding: 20px 5px;
    max-width: 1200px;
    margin: auto;
	    justify-content: space-around;
    align-items: center;

}
.divider-2{
	    padding: 5px 0;

}
.comunity{
	    max-width: 960px !important;

	    align-items: center;

}
.img-comunity{
	max-width: 342px;
}
.img-comunity > img{
	width: 100%;
}
.trading-stats__item {
	width: 40%;
}
.trading-stats > div {
    padding: 0px;
}
.trading-stats__subtitle:before {
display: block;
    flex-basis: 14px;
    height: 2px;
    flex-shrink: 0;
    background-color: currentColor;
   
    transform: translateY(12px);
    content: "";
	}
.trading-stats__count {
    color: #13c8a4;
    font-weight: 600;
    font-size: 66px;
    line-height: 1.26;
}
.trading-stats__subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 600;
    position: relative;
	font-size:24px;
}
.hd-txt {
    font-size: 48px;
    margin-bottom: 40px;
	font-weight:bold
}
.img-txt-blocks{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.trade{
    margin: 42px;

}
.trade > a{
    padding: 15px 38px;
    font-weight: bold;
    font-size: 18px;
}

    .col-block {
        margin: 0px 0px;
        width: 50%;
        padding: 0 45px;
    }

.tools-images{
    position: relative;
    width: 100%;

}
.img-txt-blocks{
    padding-top: 85px;

}
.pic{
    position: absolute;
    box-shadow: 4px 8px 35px rgb(0 0 0 / 10%);
    border-radius: 8px;
  transition: .2s linear ;
}
.slider_box{
    max-width: 575px;
    border-radius: 12px;
    position: relative;
    background-image: url(../img/slide.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px 0;
    transition: all.3s cubic-bezier(.5,1,.89,1);
	margin:auto;
}
.play{
    transition-duration: .4s,.4s,.4s;
    transition-property: right,bottom,transform;
    right: 20px;
    width: 40px;

}
.slider_box:hover .play{
    
    transform: translate(-220px, -118px);

}
.slider_box:hover .video-reviews__content{
    
    transition-duration: .4s,.4s,.4s;
    opacity: 0;
   
}
.slider_box:hover{
    background-size: 120%;


}
.video-reviews__logo {
    margin-bottom: 48px;
}
.video-reviews__quote {
    width: 275px;
    font-weight: 500;
    line-height: 1.277;
    margin-bottom: 12px;
    color: white;
    font-weight: 600;
}
.video-reviews__content{
    padding: 30px 24px;

}
.video-reviews__name {
    line-height: 1.55;
    color: white;
    font-size: 18px;

}
.play{
    
    position: absolute;
 
}
.play > img{
    width: 100%;
}
.pic-1{
    right: -20px;
    bottom: -130px;
    max-width: 198px;

}
.pic-4{
    right: 38px;
    top: 330px;
    max-width: 198px;

}
.pic-3{
    
    top: 67px;
    left: -65px;
    max-width: 194px;
}
.pic-2{
    max-width: 480px;
}
.tools-images:hover .bot-7{
    transform: translateX(17.5px) translateY(0px);

}
.tools-images:hover .bot-5{
    transform: translateX(9.5px) translateY(0px);

}
.tools-images:hover .bot-6{
    transform: translateX(18.5px) translateY(0px);

}
.tools-images:hover .bot-3{
    transform: translateX(8.5px) translateY(0px);

}
.tools-images:hover .bot-2{
    transform: translateX(11.5px) translateY(0px);

}
.tools-images:hover .bot-1{
    transform: translateX(17.5px) translateY(0px);

}
.tools-images:hover .bot-4{
    transform: translateX(19.5px) translateY(0px);

}
.tools-images:hover .pic-1{
    transform: translateX(19.5px) translateY(0px);

}
.tools-images:hover .pic-3{
    transform: translateX(17.5px) translateY(0px);

}
.tools-images:hover .pic-4{
    transform: translateX(25.5px) translateY(0px);

}
.tools-images:hover .pic-2{
    transform: translateX(11.67px) translateY(0);

}
.tools-images:hover .pr-5{
    transform: translateX(-11.67px) translateY(0);

}
.blks{
    margin-bottom: 200px;

}
.pr-1{
    z-index: 88;
    max-width: 160px;
}
.pr-1 > img{
    width: 100%;
}
.pr-2{
    max-width: 602px;
}
.pr-2 > img{
    width: 100%;
}
.pr-3{
    max-width: 362px;
}
.pr-3 > img{
    width: 100%;
}

.pic-5{
    top: 168px;
    left: 58px;

}
.pr-4{
    right: -20px;
    top: 240px;    margin: 0px 0px;
   
    padding: 0 45px;
    max-width: 142px;
}
.pr-4 > img{
    width: 100%;
}
.pr-5{
    max-width: 150px;
}
.pr-5 > img{
    width: 100%;
}
.section-first{
    padding-bottom: 115px;

}
.bot-1{
    bottom: -91px;
    left: -122px;
    max-width: 328px;
}
.pic > img{
    width: 100%;
}
.bot-7{
    right: 134px;
    bottom: 42px;
    max-width: 156px;
}
.bot-6{
    left: -193px;
    top: 80px;
    max-width: 157px;

}
.bot-5{
    max-width: 328px;
}
.bot-4{
    top: 190px;
    left: -120px;
    width: 328px;
}
.bot-3{
    top: 315px;
    max-width:  328px;
}
.bot-2{
    top: 315px;
    left: -166px;
    max-width: 156px;

}
.tools-graph{
	    left: 130px;

}
.slider-main{
	    max-width: 1200px;

}
.next-prev{
	display: flex;
    justify-content: center;
    margin-top: 25px;
}
.next-prev  > div{
	    margin: 0 10px;
		cursor: pointer;

}
.features-container{
	    background: #ebf5f5;

} 
.adit{
    padding: 35px 15px;


}
.inner-feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	    margin: 0 50px;

}
.other-tools__item {
    flex-basis: 31.33333%;
    padding: 0 10px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 32px;
}
.tool-icon {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}
.tool-icon__icon {
    margin: 0 auto 20px;
    width: 105px;
    height: 105px;
    background-color: hsla(0,0%,100%,.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool-icon__text{
	padding: 0 10px;
	    color: black;

}
.tool-icon__title {
    font-size: 24px;
    margin-bottom: 20px;
	    font-weight: 600;

}
.btn-ft{
	    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 43px 0;
}
.btn-ft > a{
	padding: 15px 40px;
    font-weight: bold;
}
.blog-section > .container{

    max-width: 1200px;
    margin: auto;

}
.container{

    max-width: 1200px;
    margin: auto;

}
.articles-header{
    display: flex;
    justify-content: space-between;
}
.articles{
    max-width: 75%;
    color: #000;

}
.articles > p{
    font-size: 18px;

}
.arrow-link {
    display: inline-flex;
    justify-content: center;
    position: relative;
    font-weight: 500;
    transition: color .2s cubic-bezier(.5,1,.89,1);
    color: #13c8a4;

}
.arrow-link:hover{
    color: #20d9b4;
}
.arrow-link__icon{
    margin-left: 8px;

}
.arrow-link__icon > svg > path{
    fill: #13c8a4;
}
.articles > h2{
    line-height: 1.21429;
    font-weight: 500;
    color: #000;
    font-size: 48px;
    margin-bottom: 40px;
}
.articles_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.article-item{
    max-width: 383px;
    height: 394px;
    background-color: #fff;
    box-shadow: 0 11px 35px rgb(0 0 0 / 5%);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;

}
.article__image {
    overflow: hidden;
    flex-shrink: 0;
    height: 240px;
    width: 100%;
}
.article__image a {
    height: 100%;
    overflow: hidden;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.article__image a > img{
    width: 100%;
    height: 100%;
}
.article__content {
    padding: 24px 24px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}
.article__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
    color: #000;
    line-height: 24px;
}
.tag-link{
    color: #13c8a4;
    background-color: #e2fff9;
    padding: 4px 10px;
    border-radius: 16px;
}
.art-link{
    color: #000;
    font-weight: 600;
}
.article__image img{
    transform: scale(1);
    transition: transform .2s cubic-bezier(.5,1,.89,1);
}
.article-item:hover .article__image img {
    transform: scale(1.2);
}
.grid-articles{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;

}
.article-1 > .article-item{
    width: 100%;
    max-width: 575px;
}

.grid-item{
    height: 300px;

}
.grid_img{
    height: 180px;

}
.item-big{
    height: 630px;

}
.item-big-image{
    height: 515px;

}
.fit-content{
    max-width: 1200px;
    margin: auto;
}
.article-1 > h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
}
.logotypes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: -8px;
}
.logotypes-list__item {
    flex-basis: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 16px;
    min-height: 85px;
    border-radius: 10px;
    max-width: 200px;

    transition: .1s ease-in-out ;
}
.log-link{
    display: flex;
   align-items: center;
   justify-content: center;
}
.logotypes-list__image {
    display: block;
    max-width: 100%;
}
.logotypes-list__item:hover {
    box-shadow: 0 4px 50px rgb(0 0 0 / 5%), 0 4px 20px rgb(0 0 0 / 10%);
    background-color: #fff;

}
.logos-lists-other{
    display: flex;
    flex-wrap: wrap;
    max-width: 840px;
    margin: 40px auto;
    justify-content: center;

}
.item-logos{
    padding: 15px 36px;
    border-radius: 0px;
    max-width: 200px;
    transition: all .1s ease-in-out;
    min-height: 100px;
    border-bottom: 1px solid #cedce5;
    flex-basis: 33%;

}
.item-logos:hover{
    background-color: rgba(206,220,229,.3);
    border-radius: 10px;
}
.item-logos:nth-child(2),.item-logos:nth-child(2n+5) {
    border-left: 1px solid #cedce5;
    border-right: 1px solid #cedce5;
}
.last-logos{
    border-bottom: unset;
}
.btn-logos{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.btn-logos > a {
    font-weight: bold;
    padding: 16px 30px;
    margin: auto;
}
.applications-wrapper {
    background-color: #2854c6;
    padding: 99px 0 90px;
    margin-top: 60px;

}
.in-content{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.img-phone{
    max-width: 280px;
    position: relative;
height: 554px;
}
.img-phone > img{
    width: 100%;
    height: 100%;
}
.txt-box > h2{
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.21429;
    font-weight: 600;
    color: white;
}
.txt-box > p {
    color: white;
    font-size: 18px;

}
.txt-box{
    max-width: 56%;

}
.img-bx{
    max-width: 40%;

}
.image-text-block__blur{
    position: absolute;
    width: 100%;
    right: -16%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.image-text-block__blur > img{
    width: 100%;
}
.app-butons{
    margin-top: 45px;

}
.app-bt{
    margin: 0 10px;

}

@media (max-width: 1230px){
 

	.inner-header{
		    padding: 18px 30px;

	}
    .section-first {
        padding: 115px 0;
    }
    
	.img-block > img {
    width: 100%;
    transform: scale(1.2) translateX(0%);
}
.img-block {
    max-width: 540px;
}
.txt-block{
	    padding: 0 16px;

}
.txt-title {
    font-size: 44px;
}
.page-section__block {
    padding: 20px 25px;
}
.divider{
    max-width: 990px;
}
.img-txt-blocks {
    display: flex;
    justify-content: center;
    max-width: 1000px;
}
}
@media (max-width: 1000px){
    .img-txt-blocks{
        flex-direction: column-reverse;
        align-items: center;
    }
    .mob-blocks{
        flex-direction: column !important;

        margin-top: 90px;

    }
    .col-block{
        margin-bottom: 120px;

    }
	.menu_list{
		display:none;
	}
	.right-menu{
		display:none;
	}
	#showNavigationLink{
		display: block;
    width: 20px;
    height: 16px;
    background-image: url(../img/burg.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
	}
    .image-text-block {
        display: flex;
        justify-content: center;
        max-width: 770px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-block {
        max-width: 600px;
        margin-top: 114px;
    }
    .inner-header{
        justify-content: space-between;

    }
    .img-txt-blocks {
        padding-top: 20px;
    }
    .col-block {
       
        padding: 36px 45px;
      
    }
    .same-block{
        width: 70%;
    }
    .pic-4 {
        right: 38px;
        top: 200px;
}
.btn-sign {
margin-right: unset;
}
.tools-images:hover .pic{
    transform: unset;
}
}
@media (max-width: 800px){
    .pic-4 {
        right: -50px;}
        .hd-txt {
            font-size: 28px;
            margin-bottom: 0px;

            font-weight: bold;
        
        }
        .pr-1 {
            max-width: 120px;
            top: -68px;
        }
        .pr-3 {
            max-width: 223px;
            top: 25px;

        }
        .pr-5{
            top: 90px;
            left: 0px;
            max-width: 120px;

        }
        .pr-4 {
            margin: 0px 0px;
            padding: 0 0px;
            max-width: 120px;
            top: 131px;
            left: 178px;
        }
    }
@media (max-width: 600px){
    .bot-1 {
      
        max-width: 260px;
    }
    .bot-7 {
        right: 134px;
        bottom: 30px;
        max-width: 100px;
    }
    .bot-5 {
        max-width: 210px;
    }
    .bot-4 {
        top: 147px;
        left: -120px;
        width: 265px;
    }
    .bot-2 {
        top: 236px;
        left: -166px;
        max-width: 130px;
    }
    .bot-3 {
        top: 236px;
        max-width: 230px;
    }
.bot-6 {
    left: -187px;
    top: 54px;
    max-width: 123px;
}
    .mob-blocks{
        flex-direction: column !important;

        margin-top: 0px;

    }
    .pr-1{
        max-width: 100px !important;

    }
    .pr-2 {
        width: 280px;
    }
    .txt-title {
        font-size: 37px;
    }
    .col-block {
        padding: 36px 0px;
        margin: auto;
        width: 55%;

    }
    .same-block {
        width: 100% !important;
    }
    .img-block {
        max-width: 80%;
        margin-top: 100px;
        padding: 0 20px;
    }
    .section-first {
        padding: 66px 0;
    }
    .btn-sign{
        display: block;
    text-align: center;
    }
    .pic-1 {
        right: -20px;
        bottom: -104px;
        max-width: 142px;
    }
    .pic-3,.pic-4{
        max-width: 120px;
    }
    .pic-4{
        top: 117px;

    }
    .block-after-subtitle, .subtitle+.text {
        padding-left: 0px;
    }
    .link-txt{
        margin-top: 20px;
        display: block;
        text-align: center;
    }
    .subtitle{
        font-weight: 600;
    font-size: 18px;
    }
}
@media (max-width: 450px){
    .bot-1 {
        max-width: 213px;
    }
    .bot-5 {
        max-width: 180px;
    }
    .bot-4{
        width: 206px;

    }
    .bot-3 {
        top: 217px;
        max-width: 179px;
    }
    

.bot-2 {
    top: 217px;
    left: -168px;
    max-width: 100px;
}
    .pic-1 {
        right: -20px;
        bottom: -65px;
        max-width: 100px;
    }
    .pic-3,.pic-4{
        max-width: 110px;
    }
    .pic-3{
        left: -40px;

    }
    .pic-4{
        top: 117px;

    }
    .trade {
        margin: 42px 0;
    }
    .pr-5 {
       
        max-width: 85px;
    }
    .pr-1 {
        max-width: 78px !important;
    }
}
@media (max-width: 400px){
.pic-3, .pic-4 {
    max-width: 85px;
}
.pic-4 {
    right: -23px;
    top: 83px;

}
.col-block {
    padding: 36px 0px;
    margin: auto;
    width: 75%;

}
.pr-2 {
    width: 250px;
}
}