@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;

}
.header-container{
    max-width: 1200px;
    margin: auto;
}
.inner-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 0;
}
.header_logo{
    margin-right: 43px;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu__item{
    margin-right: 28px;
    font-size: 16px;
    white-space: nowrap;
    position: relative;

}
.menu__item a {
    color: #000;
    border-bottom: 1px solid transparent;
    transition: color .2s ease-out 0s;
    font-weight: 300;
    transition: color .2s ease-out 0s;

}
.menu__item a:hover {
    color: #13c8a4;
}
.menu_list{
    display: flex;
    align-items: center;

}

.arr::after{
    border: none;
    width: 8px;
    height: 4px;
    background: url(../img/chevron.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    right: -12px;
    top: 50%;
    content: '';
}
.logo{
    width: 123px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0 ;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    flex-direction: column;
    display: none;
}
 .dropdown-menu_small {
    padding-top: 4px;
    padding-bottom: 4px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
}
.rotate::after{
    transform: rotate(180deg);
}
.drop-lang{
    width: 60px;
    min-width: 60px;
}
.it-lang{
    padding: 0.25rem 1em;

}
.btn-sign{
    background-color: #13c8a4;
    border-color: #13c8a4;
    padding: 10px 14px 9px;
    margin-right: 28px;
    transition: all .3s ;
    color: #fff;
}
.btn-sign:hover{
    color: #fff;
    background-color: #20d9b4;
    border-color: #20d9b4;
    box-shadow: 0 0 0 transparent;
}
.btn-sign > a{
    color: white;

}
.right-menu{
    margin-left: auto;

}
.btn__free{
    display: none;
}
.section-first{
 
    margin: auto;
    padding: 168px 0;
	overflow:hidden;
	width:100%;
}
.image-text-block{
       display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.img-block{
    max-width: 720px;
}
.img-block > img{
    width: 100%;
    transform: scale(1.2) translateX(25%);

}
.txt-title{
    font-size: 46px;
}
.txt-block > p{
    font-size: 18px;
    line-height: 1.44444;
    margin-top: 40px;
    margin-bottom: 40px;
}

.link-txt{
    color: #13c8a4;
    font-size: 18px;
    transition: .3s;
}
.link-txt:hover {
    color: #086c73;
}
.header{
	position: fixed;
    width: 100%;
    background: white;
    z-index: 99;
    top: 0;
}
.fixed {
   
	border-bottom: 1px solid #cedce5;
}
@media (max-width: 1230px){
	.inner-header{
		    padding: 18px 30px;

	}
	.img-block > img {
    width: 100%;
    transform: scale(1.2) translateX(-5%);
}
.img-block {
    max-width: 540px;
}
.txt-block{
	    padding: 0 16px;

}
.txt-title {
    font-size: 44px;
}
}
@media (max-width: 1000px){
	.menu_list{
		display:none;
	}
	.right-menu{
		display:none;
	}
	#showNavigationLink{
		display: block;
    width: 20px;
    height: 16px;
    background-image: url(../img/burg.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
	}
}
