@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;

}
.header-container{
    max-width: 1200px;
    margin: auto;
}
.inner-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 0;
}
.header_logo{
    margin-right: 43px;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu__item{
    margin-right: 28px;
    font-size: 16px;
    white-space: nowrap;
    position: relative;

}
.menu__item a {
    color: #000;
    border-bottom: 1px solid transparent;
    transition: color .2s ease-out 0s;
    font-weight: 300;
    transition: color .2s ease-out 0s;

}
.menu__item a:hover {
    color: #13c8a4;
}
.menu_list{
    display: flex;
    align-items: center;

}

.arr::after{
    border: none;
    width: 8px;
    height: 4px;
    background: url(../img/chevron.svg) 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    right: -12px;
    top: 50%;
    content: '';
}
.logo{
    width: 123px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 10rem;
    padding: .5rem 0 ;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    flex-direction: column;
    display: none;
}
 .dropdown-menu_small {
    padding-top: 4px;
    padding-bottom: 4px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
}
.rotate::after{
    transform: rotate(180deg);
}
.drop-lang{
    width: 60px;
    min-width: 60px;
}
.it-lang{
    padding: 0.25rem 1em;

}
.btn-sign{
    background-color: #13c8a4;
    border-color: #13c8a4;
    padding: 10px 14px 9px;
    margin-right: 28px;
    transition: all .3s ;
}
.btn-sign:hover{
    color: #fff;
    background-color: #20d9b4;
    border-color: #20d9b4;
    box-shadow: 0 0 0 transparent;
}
.btn-sign > a{
    color: white;

}
.right-menu{
    margin-left: auto;

}